.alligned {
    padding-top: 80px;
    float: right;
}

.image-center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 1%;
}

body {
    background-color: #659dbd;
}

.image {
    width: 30%;
    padding: 30px;
}

.text-left {
    text-align: justify;
    font-size: larger;
    float: left;
    padding: 10px;
    width: 60%;
}

.image-left {
    width: 30%;
    float: left;
    padding: 30px;
}

.text-right {
    text-align: justify;
    padding: 10px;
    font-size: larger;
}